<!DOCTYPE html>
<html>
<head>
  <title>BlogFlash</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield :title %>
</head>
<body>

<head>
<<<<<<< HEAD
  <%= yield %>
=======
  <title><%= yield :title %></title>
>>>>>>> 39b9dd5341f1b9b3f2574fe087a89a2b49383c3f
</head>

</body>
</html>
